.display{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}
.dropDown{
    position: absolute;
    display:flex;
    top: 390px;
    right: 300px;
    justify-content: right;
    width: 512px;
}
.text{
    position: absolute;
    top: 64px;
    right: -64px;
}