.center{
    position: absolute;
    top: 50%;
    left: 10%;
}

.button_bottom {
    
    border: none;
    background: none;
    color: #2b97d6;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}
.navTopLeft:hover{
    color: rgba(102, 128, 243, 0.616);
}
.navTopCenter:hover{
    color: rgb(102, 128, 243, 0.616);
}
.navTopRight:hover{
    color: rgb(102, 128, 243, 0.616);
}

.stealthbox{
    display: block;
    text-decoration: none;
    color:rgba(245, 222, 179, 0.027)
}

*{
    margin:0;
    padding:0;
}


.uibox{
    position: absolute;
    top: 5%;
    min-width: 100%;;
}

.navTopLeft{
    position: absolute;
    left: 15%;
    top: 1.25%;
    border: none;
    outline: none;
    background: none;
    font-family: fantasy;
    font-weight: normal;
    font-size: 24px;

}
.navTopCenter{
    position: absolute;
    left: 50%;
    top: 1.25%;
    border: none;
    outline: none;
    background: none;
    font-family: fantasy;
    font-weight: normal;
    font-size: 24px;
}
.navTopRight{
    position: absolute;
    left: 85%;
    top: 1.25%;
    border: none;
    outline: none;
    background: none;
    font-family: fantasy;
    font-weight: normal;
    font-size: 24px;
}

.bgwall {
    padding: 1.3rem;
    display: flex;
    background: #05429152;
    align-items: center;

}